<!DOCTYPE html>
<html lang="ru"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BestElectronics -> Администратор: Клиенты</title>
    <script src="https://use.fontawesome.com/95b86417ef.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap"
          rel="stylesheet">

    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/norm.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>

</head>

<body>

<div th:insert="~{fragments/navbars :: navbar-admin}"></div>

<main class="container">

    <div class="form-block" th:switch="${users}">
        <div th:case="null" class="fail__message">КЛИЕНТЫ НЕ НАЙДЕНЫ!</div>
        <div th:case="*">
            <p class="h4 text-center fw-bolder">КЛИЕНТЫ</p>

            <table class="table table-striped border-black border-start border-end border-bottom">
                <thead class="table-dark fw-bold">
                <tr class="">
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Телефон</th>
                    <th>Адрес доставки</th>
                    <th>Роль</th>
                    <th class="text-center">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.role}"></td>
                    <td class="text-center">
                        <a class="btn btn-outline-success"
                           th:href="@{/admin/user-update/{id}(id=${user.id})}"
                           title="Изменить данные профиля">Изменить</a>&nbsp;
                        <a class="btn btn-outline-danger" th:href="@{/admin/user-delete/{id}(id=${user.id})}"
                           title="Удалить профиль">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <span th:if="${param.updated}" class="success__message">Данные успешно обновлены!</span>
        <span th:if="${param.deleted}" class="success__message">Данные клиента удалены!</span>
        <span th:if="${param.search_failed}" class="fail__message">Клиент не найден!</span>
        <span th:if="${param.delete_failed}" class="fail__message">
            Администратор не может удалить профиль клиента с оплаченными заказами в работе или свой профиль.</span>
    </div>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>