<!DOCTYPE html>
<html lang="ru"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BestElectronics -> Заказы</title>
    <script src="https://use.fontawesome.com/95b86417ef.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap"
          rel="stylesheet">

    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/norm.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>

</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbars :: navbar-profile}"></div>

<main class="container__custom">

    <div class="form-block" th:switch="${orders}">
        <div th:case="null" class="fail__message">ЗАКАЗЫ НЕ НАЙДЕНЫ!</div>
        <div th:case="*">
            <p class="h4 text-center fw-bolder">ЗАКАЗЫ</p>

            <table class="table table-striped border-black border-start border-end border-bottom">
                <thead class="table-dark fw-bold">
                <tr class="">
                    <th>№</th>
                    <th>Покупатель</th>
                    <th class="text-end">Сумма оплаты</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                    <th>Контакт</th>
                    <th>Адрес доставки</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.user.getFirstName()} + ' ' + ${order.user.getLastName()}"></td>
                    <td th:text="${order.amount}" class="text-end"></td>
                    <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy, HH:mm')}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.contact}"></td>
                    <td th:text="${order.address}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>