<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Disclaimer</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/norm.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<div th:fragment="disclaimer">
    <nav class="disclaimer__custom">
        <span class="disclaimer__name">Это демонстрационный проект (Java Spring, MySQL, Thymeleaf, HTML + JS). Продажи реальных товаров здесь НЕТ !</span>
    </nav>
</div>
</body>
</html>