<!DOCTYPE html>
<html lang="ru"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BestElectronics</title>
    <script src="https://use.fontawesome.com/95b86417ef.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap"
          rel="stylesheet">
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/norm.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>

</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbars :: navbar}"></div>

<main class="auth container__custom">

    <div class="login_main_forms">
        <form class="auth__form" th:action="@{/auth}" method="post">

            <fieldset class="shipping__logIn">
                <legend class="text_fontSize16Dark">УЖЕ ЗАРЕГИСТРИРОВАНЫ?</legend>

                <p class="text_fontSize16Light">Пожалуйста, войдите в свой профиль:</p>

                <p class="fail__message" th:if="${param.error}">Неверное имя пользователя или пароль</p>

                <p class="shipping__mail_mrg text_fontSize14Dark">EMAIL:<span
                        class="shipping_textSpec">*</span></p>

                <input type="email" name="username"
                       class="shipping__emailInput shipping__emailInput_mgTop text_fontSize16Dark" required>

                <p class="shipping_password_mgTop text_fontSize16Dark">ПАРОЛЬ<span
                        class="shipping_textSpec">*</span></p>

                <input type="password" name="password"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark"
                       required>

                <p class="shipping_requiredFields_mgTop shipping__text_fontColored">* Обязательные поля</p>

                <button class="confirm__button"
                        type="submit">ВХОД
                </button>

            </fieldset>

        </form>

        <form class="registration registration_mrg" th:action="@{/auth/registration}" method="post">

            <fieldset class="registration__wrap">
                <legend class="text_fontSize16Dark">ФОРМА ДЛЯ РЕГИСТРАЦИИ</legend>
                <p class="text_fontSize16Light">Пожалуйста, заполните информацию ниже:</p>

                <p class="registration__text registration__text_dark">ИМЯ<span class="shipping_textSpec">*</span></p>
                <input type="text" th:name="firstName"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark"
                       required>

                <p class="registration__text registration__text_dark">ФАМИЛИЯ<span class="shipping_textSpec">*</span>
                </p>
                <input type="text" th:name="lastName"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark"
                       required>

                <p class="registration__text registration__text_dark">EMAIL АДРЕС (логин)<span
                        class="shipping_textSpec">*</span></p>

                <p class="fail__message" th:if="${param.reg_error}">Пользователь с таким адресом email уже
                    зарегестрирован!</p>

                <input type="text" th:name="email"
                       class="shipping__emailInput shipping__emailInput_mgTop text_fontSize16Dark" required>

                <p class="registration__text registration__text_dark">ПАРОЛЬ<span class="shipping_textSpec">*</span>
                </p>
                <input type="text" th:name="password"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark"
                       required>

                <p class="registration__text registration__text_dark">ТЕЛЕФОН<span class="shipping_textSpec"></span></p>
                <input type="text" th:name="phone"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark">

                <p class="registration__text registration__text_dark">АДРЕС ДЛЯ ДОСТАВКИ<span
                        class="shipping_textSpec">*</span></p>
                <input type="text" th:name="address"
                       class="shipping__passwordInput shipping__passwordInput_mgTop text_fontSize16Dark"
                       required>

                <p class="shipping_requiredFields_mgTop shipping__text_fontColored">* Обязательные поля</p>

                <button class="confirm__button"
                        type="submit">РЕГИСТРАЦИЯ
                </button>

            </fieldset>
        </form>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>

<script src="/js/functions.js"></script>
<script src="/js/catalog.js"></script>

</body>
</html>