<!DOCTYPE html>
<html lang="ru"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BestElectronics</title>
    <script src="https://use.fontawesome.com/95b86417ef.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/norm.css}" rel="stylesheet"/>

</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>

<main class="container">

    <div class="h3 text-center fw-bolder">
        Заказ № <span th:text="' ' + ${order_number}"></span>
    </div>
    <div class="h4">
        <span class="fw-bold">Дата оформления: </span>
        <span th:text="' ' + ${order_date}"></span>
    </div>

    <hr/>

    <div class="h4 fw-bold">
        Состав заказа:
    </div>

    <table class="table table-striped border-black border-start border-end">

        <thead class="table-dark fw-bold text-end">
        <tr>
            <th class="text-center">Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.key}"/>
            <td class="text-end" th:text="${product.value[0]}"/>
            <td class="text-end" th:text="${product.value[1]}"/>
            <td class="text-end" th:text="${product.value[2]}"/>
        </tr>

        </tbody>
        <tfoot class="fw-bold text-end border-top border-bottom border-black">
        <td>
        <td></td>
        <td>ИТОГО, рублей:</td>
        <td th:text="${order_amount}">
        </tfoot>
    </table>

    <hr/>

    <div class="h4 fw-bold">
        Покупатель:
    </div>

    <table class="table d-flex">

        <tbody class="h5">
        <tr>
            <td class="fw-bold">Имя:</td>
            <td th:text="${customer}"/>
        </tr>
        <tr>
            <td class="fw-bold">email:</td>
            <td th:text="${email}"/>
        </tr>
        <tr>
            <td class="fw-bold">Телефон:</td>
            <td th:text="${phone}"/>
        </tr>
        <tr>
            <td class="fw-bold">Адрес доставки:</td>
            <td th:text="${address}"/>
        </tr>
        </tbody>
    </table>

    <hr/>

    <th:block th:if="${payment}>0">
        <span class="success__message"> ЗАКАЗ ОПЛАЧЕН!</span>
        <div class="h4 fw-bold" th:text="'Код платежа: ' + ${payment}"></div>
    </th:block>

    <th:block th:if="${payment}<=0">
        <th:block th:if="${payment}<0">
            <a class="fail-message-letter">ОПЛАТА НЕ ПРОШЛА!</a>
        </th:block>
        <a class="ordering__order-btn" th:onclick="makePayment([[${email}]], [[${order_number}]],[[${order_amount}]])">
            ОПЛАТИТЬ ЗАКАЗ
        </a>
    </th:block>


</main>

<div th:insert="~{fragments/footer :: footer}"></div>

<script th:inline="javascript" src="/js/payment.js">

</script>

</body>
</html>