<!DOCTYPE html>
<html lang="ru"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>BestElectronics</title>
    <script src="https://use.fontawesome.com/95b86417ef.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap"
          rel="stylesheet">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/norm.css}" rel="stylesheet"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet"/>

</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbars :: navbar}"></div>

<main class="auth container__custom">

    <p class="success__message" th:if="${isRegistered}">Вы успешно зарегистрированы!</p>

    <div class="register__btns">

        <a href="/auth" class="register__btn">
            Авторизоваться
        </a>

        <a href="/products" class="register__btn">
            К покупкам
        </a>

    </div>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>

<script src="/js/functions.js"></script>
<script src="/js/catalog.js"></script>

</body>
</html>