.navbar__custom {
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #729fcf;
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

.nav-item-admin a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: yellow;
}

.nav-item:hover {
    background-color: white;
}

.nav-item-admin:hover {
    background-color: yellow;
}

.nav-item:hover a,
.nav-item-admin:hover a {
    color: #456a92;
}

.main {
    width: 100%;
    padding: 50px;
    margin: 0px;
}

.text {
    height: 250px;
}

.navbar__name {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.center {
    text-align: center;
}
