html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    min-width: 1600px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.header-wrapper {
    border-bottom: 1px solid #f8f8f8;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    justify-content: space-between;
}

.header__browse-search {
    display: flex;
    border: 1px solid #eee;
}

.header__buttons {
    display: flex;
}

.header__cart {
    margin-top: 10px;
    margin-right: 15px;
    position: relative;
}

.header__cart:hover {
    fill: #729fcf;
    cursor: pointer;
}

.header__cart-quantity {
    font-size: 10px;
    text-align: center;
    line-height: 1.8;
    border-radius: 50%;
    background-color: #729fcf;
    color: #fff;
    position: absolute;
    left: 24px;
    top: -8px;
    width: 19px;
    height: 19px;
}

.header__btn-account {
    width: 150px;
    height: 40px;
    align-self: center;
    border-color: #729fcf;
    color: #ffffff;
    background-color: #729fcf;
    border-radius: 3px;
    margin-left: 11px;
    cursor: pointer;
}

.header__btn-account:hover,
.btn:hover {
    background-color: #87bbf3;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__letters {
    padding-left: 12px;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-transform: uppercase;
}

.logo__special-letter {
    color: #729fcf;
    font-weight: 700;
}

.search-form__input {
    width: 356px;
    height: 38px;
    font-size: 14px;
    color: rgba(56, 50, 50, 0.99);
    padding-left: 12px;
    border: transparent;
}

.search-form__submit {
    width: 38px;
    height: 38px;
    border: none;
    border-left: 1px solid #eee;
    background-color: transparent;
    color: #a4a4a4;
    cursor: pointer;
}

.search-form__input:focus{
    outline-color: #729fcf;
}

.search-form__input:focus + .search-form__submit {
    border-left: none;
}

.cart__quantity-wrap {
    width: 4em;
    height: 2em;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__quantity-btn {
    border: none;
    background-color: transparent;
    color: #656565;
}

.cart__quantity-btn:hover {
    color: #1b1b1b;
}

.cart__delete-wrap {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eee;
}
.cart__delete {
    fill: #ec5959;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.857;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-right: 23px;
    padding-left: 23px;
}

.navigation a:hover::after {
    content: " ";
    display: block;
    height: 3px;
    background: #729fcf;
    position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    bottom: 0px;
}

.navigation_active::after {
    content: " ";
    display: block;
    height: 3px;
    background: #729fcf;
    position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    bottom: 0px;
}

.promo__content {
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-column-gap: 3%;
    position: relative;
}

.promo__card {
    position: relative;
    margin-bottom: 39px;
}

.promo__card:hover {
    background-color: #fff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.promo__card:hover .promo__card-hover, .promo__card:hover .promo__cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__caption {
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 16px;
}

.promo__name {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 16px;
}

.promo__price {
    font-size: 16px;
    color: #729fcf;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.promo__card-hover {
    position: absolute;
    background-color: #839fafcc;
    top: 0;
    bottom: 81px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1.5;
    display: none;
}

.promo__cart {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 98px;
    left: 71px;
    z-index: 2;
    width: 122px;
    border: 1px solid #fff;
    padding: 5px;
    cursor: pointer;
}

.promo__cart:active {
    background-color: #729fcf;
}

.promo__add-to-cart {
    font-size: 13px;
    color: white;
    padding-left: 8px;
}

.promo_mrg {
    margin-top: 100px;
}

.shop-cart {
    margin-top: 100px;
}

.shop-cart__line {
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr 1fr 1fr;
}

.shop-cart__details {
    display: flex;
}

.shop-cart__heading {
    font-size: 13px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(234, 234, 234);

}

.shop-cart__heading-name {
    text-align: center;
}

.shop-cart__title,
.shop-cart__product-info {
    display: block;
}

.shop-cart__title {
    font-size: 13px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.shop-cart__data {
    font-size: 13px;
    color: rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-cart__data,
.shop-cart__details,
.shop-cart__delete-wrapper,
.shop-cart__data-input {
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.shop-cart__data-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-cart__quantity-wrap {
    width: 4em;
    height: 2em;
    border: 1px solid rgb(234, 234, 234);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-cart__quantity {
    font-size: 13px;
    color: rgb(101, 101, 101);
}

.shop-cart__quantity-btn {
    border: none;
    background-color: transparent;
    color: rgb(101, 101, 101);
}

.shop-cart__quantity-btn:hover {
    color: rgb(27, 27, 27);
}

.shop-cart__delete-wrapper {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}

.shop-cart__delete {
    fill: #c0c0c0;
}

.shop-cart__delete-wrapper:hover .shop-cart__delete {
    fill: #797676;
}

.shop-cart__details-wrapper {
    margin-left: 1.6em;
    align-self: center;
}

.login_main_forms {
    display: flex;
}

.auth__form {
    display: flex;
}

.auth__buyer-status,
.shipping__logIn,
.registration__wrap {
    width: 555px;
    margin-top: 25px;
}

.shipping__header,
.billing__header,
.shippingInfo__header,
.shippingMethod__header,
.paymentMethod__header,
.order__header {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
}

.shipping__header_mrgLeft,
.billing__header_mrgLeft,
.shippingInfo__header_mrgLeft,
.shippingMethod__header_mrgLeft,
.paymentMethod__header_mrgLeft,
.order__header_mrgLeft {
    margin-left: 6px;
}

.text_fontSize14Dark {
    font-size: 14px;
    color: rgb(34, 34, 34);
    margin-top: 10px;
}

.text_fontSize14Light {
    font-size: 14px;
    color: rgb(136, 134, 134);
    margin-top: 5px;
}


.text_fontSize13Dark,
.registration__h2 {
    font-size: 13px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.text_fontSize13Light,
.registration__text_light {
    font-size: 13px;
    color: rgb(179, 178, 178);
    margin-top: 14px;
}

.text_fontSize12Dark,
.registration__text_dark {
    font-size: 12px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.mail_fontSize12Dark,
.shipping__text_fs12DarkLow {
    font-size: 12px;
    color: rgb(34, 34, 34);

}

.shipping__button_fontSize14Dark {
    font-size: 14px;
    color: rgb(74, 74, 74);
    font-weight: bold;
    text-transform: uppercase;
}

.shipping__button {
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    width: 184px;
    height: 54px;
}

.shipping__buttonContinue_mgTop {
    margin-top: 38px;
}

.shipping__buttonLogIn_mgTop {
    margin-top: 29px;
}

.shipping__button:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.shipping__button:focus {
    outline: none;
}

.shipping__saveTime_mg {
    margin-top: 28px;
}

.shipping__radioTitle,
.shipping__radioTitleReg {
    display: flex;
    align-items: center;
}

.shipping__radioCheck,
.shipping__radioReg {
    display: none;
}

.shipping__radioCheck:checked + .fakeChbx::after,
.shipping__radioReg:checked + .fakeChbxReg::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shipping__checkOutGuest {
    margin-left: 25px;
}

.shipping__check_mgTop {
    margin-top: 28px;
}

.shipping__reg_mgTop {
    margin-top: 15px;
}

.shipping__text_mrgTop {
    margin-top: 33px;
}

.shipping__checkOutGuest,
.shipping__register {
    margin-left: 18px;
}

.shipping__mail_mrg,
.registration__text {
    margin-top: 23px;
}

.shipping__emailInput_mgTop,
.shipping__passwordInput_mgTop {
    margin-top: 14px;
}

.shipping__emailInput,
.shipping__passwordInput {
    width: 390px;
    height: 44px;
    border: 1px solid #eaeaea;
    padding-left: 12px;
}

.shipping__emailInput:focus,
.shipping__passwordInput:focus {
    outline-color: #729fcf;
}

.shipping_textSpec {
    color: rgb(255, 13, 13);
    font-size: 16px;
}

.shipping_password_mgTop,
.shipping_requiredFields_mgTop {
    margin-top: 18px;
}

.shipping__text_fontColored {
    font-size: 13px;
    color: rgb(255, 13, 13);
}

.shipping_forgotLink_mrgLeft {
    margin-left: 31px;
}

.shipping_forgotLink {
    text-decoration: none;
}

.shipping,
.billing,
.shippingInfo,
.shippingMethod,
.paymentMethod,
.order {
    border-bottom: 1px solid #e8e8e8;
}

.billing__billingInformation,
.shippingInfo__shippingInformation,
.shippingMethod__shippingMethod,
.paymentMethod__paymentMethod,
.order__orderReview {
    width: 1140px;
    border: none rgb(234, 234, 234);
    text-align: left;
    background: white;
    padding: 30px 0 24px 0;
}

.billing__billingInformation:focus,
.shippingInfo__shippingInformation:focus,
.shippingMethod__shippingMethod:focus,
.paymentMethod__paymentMethod:focus,
.order__orderReview:focus {
    outline: none;
}

.billing__billingInformation:hover,
.shippingInfo__shippingInformation:hover,
.shippingMethod__shippingMethod:hover,
.paymentMethod__paymentMethod:hover,
.order__orderReview:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.auth__message {
    font-size: 20px;
    color: #729fcf;
    margin-bottom: 30px;
}

.header__user {
    color: #729fcf;
    font-size: 20px;
    font-weight: bold;
}

.header__user-transparent {
    color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.header__user-wrap {
    display: flex;
    justify-content: end;
}

.ordering {
    display: flex;
    flex-direction: column;
    margin-top: 3.9em;
    margin-bottom: 5em;
    align-items: flex-end;
}

.ordering__total {
    width: 31.6%;
    background-color: rgb(245, 243, 243);
    padding: 3.8%;
    height: 80%;
}

.ordering__grandtotal-wrapper {
    display: flex;
    justify-content: flex-end;
}

.ordering__grandtotal {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 1em;
}

.ordering__sum {
    font-size: 16px;
    color: #729fcf;
    font-weight: 700;
    text-transform: uppercase;
}

.currency {
    margin-left: 8px;
}

.shop-cart__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2em;
}

.product-page {
    margin-top: 50px;
}

.product-page__photos {
    display: flex;
    justify-content: center;
}

.product-page__h2 {
    margin-top: 3em;
    padding-bottom: 1em;
    position: relative;
    text-transform: uppercase;
}

.font18BoldSpecial {
    font-size: 18px;
    color: #729fcf;
    font-weight: 700;
    text-align: center;
}

.product-page__h1 {
    margin-bottom: 1.5em;
}

.font18Bold {
    font-size: 18px;
    font-weight: 900;
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    text-align: center;
}

.product-page__text {
    width: 47em;
    margin: 0 auto 2em auto;
}

.font14Dark {
    font-size: 14px;
    color: rgb(94, 94, 94);
    line-height: 1.714;
    text-align: center;
}

.product-page__details {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.product-page__price {
    display: block;
    text-align: center;
    padding-bottom: 1.7em;
    margin-bottom: 2.5em;
}

.font24Special {
    position: relative;
    font-size: 24px;
    color: #729fcf;
    font-weight: 700;
}

.product-page__price:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: rgb(234, 234, 234);
    bottom: 0;
    left: 10em;
    right: 10em;
}

.product-page__add-btn {
    display: block;
    position: relative;
    font-family: "Lato";
    color: #729fcf;
    font-weight: 700;
    /*text-align: center;*/
    width: 34em;
    margin: 0 auto 7.5em;
    padding-top: 1.3em;
    padding-bottom: 1em;
    border-color: #729fcf;
    background-color: white;
}

.product-page__btn-text {
    vertical-align: super;
    font-size: large;
    margin-left: 10px;
}

.product-page__add-btn:hover {
    color: white;
    fill: white;
    background-color: #87bbf3;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product-page__add-btn:focus {
    outline: 1px solid #729fcf;
}

.product-page__add-btn:hover {
    fill: white;
}

.register__success {
    font-size: 26px;
    font-weight: bolder;
    color: #27ab36;
    margin-top: 50px;
    margin-bottom: 20px;
}

.confirm__button {
    width: 250px;
    height: 40px;
    border-color: #729fcf;
    color: #6189b4;
    background-color: transparent;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.confirm__button:hover {
    background-color: #6189b4;
    color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.register__btns {
    display: flex;
}

.register__btn {
    display: flex;
    border: 1px solid #729fcf;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    color: #6189b4;
    background-color: transparent;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

.register__btn:hover {
    background-color: #729fcf;
    color: #ffffff;
}

.order-number {
    margin-bottom: 100px;
}

.order-number__text {
    font-size: 25px;
    color: #729fcf;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-end {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-end__copy-right {
    font-size: 16px;
    color: #7a7a7a;
    padding-top: 9px;
}

.footer-main {
    display: flex;
}

.footer-main__text {
    width: 488px;
}

.footer-main__info {
    padding-top: 30px;
    padding-right: 61px;
    font-size: 14px;
    color: #898989;
    line-height: 1.714;
}

.footer-main {
    display: flex;
}

.footer-main_mrg {
    margin-top: 109px;
    margin-bottom: 85px;
}

.product-img {

    width: 261px;
    height: 280px;
}

.logo__img {
    background-image: url("../images/be.svg");
    background-size: 60px 56px;
    width: 60px;
    height: 56px;
    background-repeat: no-repeat;
}

.header__text-btn {
    font-size: 18px;
}

.header__profile-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95px;
    margin: 0 auto;
}

.fail-message-letter {
    font-size: 22px;
    color: #d45858;
    margin-top: 14px;
}

.ordering__order-btn {
    margin-top: 20px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #729fcf;
    border-color: #38587a;
    border-radius: 3px;
    width: 250px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ordering__order-btn:hover {
    color: white;
    fill: white;
    background-color: #87bbf3;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}





